body {
  color: rgb(243, 230, 230);
  background-color: black;
  font-family: Leelawadee UI;
}

.titulo {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  height: 250px;
  width: 500px;
}

.geral {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.titulo1 {
  width: 80%;
  padding: 10px;
  border: 10px outset #d62473;
  background-color: transparent;
}

.botaoinstrucoes {
  border: none;
  margin-top: 15px;
  margin-left: 40px;
  height: 85%;
  width: 25%;
  border-radius: 10px;
  padding: 10px 0 10px 0;
  font-size: 20px;
  font-weight: bolder;
  background-color: #2b0152;
  color: white;
  cursor: pointer;
  text-align: center;
  font-family: Leelawadee UI;
}

.botaoinstrucoes:hover {
  background: #d62473;
  color: black;
  border: 2px solid white;
}

.botaoiniciar {
  border: none;
  margin-top: 10px;
  height: 75%;
  border-radius: 10px;
  padding: 10px 0 10px 0;
  font-size: 25px;
  font-weight: bolder;
  background-color: #13a000;
  color: white;
  cursor: pointer;
  text-align: center;
  font-family: Leelawadee UI;
}
.botaoiniciar:hover {
  background-color: #056b02;
  border: 2px solid white;
  box-sizing: 60px;
  color: black;
}

.centralizador {
  display: flex;
  justify-content: center;
  align-items: center;
}

.temporizadordisplay {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: 35px;
  text-align: right;
  padding-right: 20px;
}

.comentarios {
  font-size: 30px;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* the styling of the rectangular tiles */

.vidro {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  border-radius: 2px;
  background-color: rgb(0, 119, 128);
  text-align: center;
  cursor: pointer;
  user-select: none;
  border: 1px solid white;
}

.hide {
  display: none;
}

#vidro-cima {
  align-self: flex-end;
  margin-bottom: 2.5px;
}
#vidro-cima1 {
  align-self: flex-end;
  margin-bottom: 2.5px;
}
#vidro-cima2 {
  align-self: flex-end;
  margin-bottom: 2.5px;
}
#vidro-cima3 {
  align-self: flex-end;
  margin-bottom: 2.5px;
}
#vidro-cima4 {
  align-self: flex-end;
  margin-bottom: 2.5px;
}
#vidro-cima5 {
  align-self: flex-end;
  margin-bottom: 2.5px;
}
#vidro-cima6 {
  align-self: flex-end;
  margin-bottom: 2.5px;
}
#vidro-baixo {
  align-self: flex-inicio;
  margin-top: 2.5px;
}
#vidro-baixo1 {
  align-self: flex-inicio;
  margin-top: 2.5px;
}
#vidro-baixo2 {
  align-self: flex-inicio;
  margin-top: 2.5px;
}
#vidro-baixo3 {
  align-self: flex-inicio;
  margin-top: 2.5px;
}
#vidro-baixo4 {
  align-self: flex-inicio;
  margin-top: 2.5px;
}
#vidro-baixo5 {
  align-self: flex-inicio;
  margin-top: 2.5px;
}
#vidro-baixo6 {
  align-self: flex-inicio;
  margin-top: 2.5px;
}

/* glass grid */
.vidros {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 10px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(7, 1fr);
}

.espacamentodojogo {
  display: grid;
  grid-template-columns: 1fr 9fr 1fr;
}

.inicio,
.fim {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 5px;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
}

.inicio {
  margin-right: 10px;
  margin-left: 10px;
  border: 7px solid #d62473;
  background-color: #d62473;
}

.fim {
  margin-left: 10px;
  margin-right: 10px;
  border: 7px solid #d62473;
  background-color: #d62473;
}

.textoinicio,
.textofinal {
  text-align: center;
  font-size: 30px;
  padding: 5px;
}

.textoinicio {
  margin-right: 5px;
}

.textofinal {
  margin-left: 5px;
}

.posicaoinicial {
  display: grid;
  align-items: center;
  justify-content: center;
}

.posicalfinal {
  display: grid;
  align-items: center;
  justify-content: center;
}

.player-icon {
  width: 55px;
  height: 65px;
  background-color: transparent;
}

.headman-icon {
  width: 50px;
  height: 95px;
  background-color: transparent;
}

.fa-trophy {
  font-size: 30px;
  color: gold;
}

.tentativas {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.displaygameover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.disptextogameover {
  text-align: center;
  font-size: 70px;
}
#botaoreinicio {
  display: block;
  margin: 0 auto;
  height: 100px;
  background-color: #2b0152;
  color: white;
  font-size: 45px;
  border-radius: 10px;
  width: 70%;
}

#botaoreinicio:hover {
  background-color: #d62473;
  color: whitesmoke;
  border: none;
}

h4 {
  color: #13cbcb;
}